############################
# Python
############################
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

############################
# Virtual Environment
############################
venv/
.env/

############################
# IDE / Editor
############################
.vscode/
.idea/
*.swp

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Deep Learning / AI
############################
*.h5
*.pt
*.pth
*.ckpt
*.onnx

############################
# Dataset 
############################
Dataset/*
!Dataset/README.md

############################
# Output / Result
############################
output/
results/
logs/
checkpoints/

############################
# Temporary files
############################
tmp/
temp/

############################
# prossesed data
############################
prossesed_data/